@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Fraunces", serif;
}
p {
  font-family: "Barlow", sans-serif;
}
html,
body {
  font-family: var(--font-fraunces);
}
p {
  font-family: var(--font-barlow);
}
/* 

* {
  box-sizing: border-box;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
